<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->
<!--// 1번 get 실습-->
<!--  <form action="/introduce" method="get">-->
<!--  </form>-->

<!--// 2번 post 실습-->
<!--<h3>폼 전송 - 실습</h3>-->
<!--<fieldset>-->
<!--        <form action="/test2" method="post">-->
<!--            이름 <input type="text" name="name">-->
<!--            <br>-->
<!--            성별 <input type="radio" name="gender" value="남자">남자  <input type="radio" name="gender" value="여자">여자-->
<!--            <br>-->
<!--            생년월일-->
<!--            <select name="yy">-->
<!--            <option>2000</option>년-->
<!--            <option>2200</option>월-->
<!--            <option>2220</option>일-->
<!--            </select>-->

<!--            <select name="mm">-->
<!--                <option>1</option>년-->
<!--                <option>2</option>월-->
<!--                <option>3</option>일-->
<!--            </select>-->

<!--            <select name="dd">-->
<!--                <option>1</option>년-->
<!--                <option>2</option>월-->
<!--                <option>3</option>일-->
<!--            </select>-->
<!--            <br>-->
<!--            관심사 <input type="checkbox" name="like" value="여행">여행 <input type="checkbox" name="like" value="패션">패션 <input type="checkbox" name="like" value="음식">음식-->
<!--            <br>-->
<!--            <button type="submit">회원가입</button>-->
<!--        </form>-->
<!--</fieldset>-->

<!--</body>-->
<!--</html>-->